.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.btn {
    color: #FFFFFF;
    border: none;
    padding: 20px 15px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.stop {
    background-color: red;
}

.continue {
    background-color: limegreen;
}